.App {
  text-align: center;
  width: 100%;
  height: fit-content;
}
.Charts{
  position: relative;
  width: 25vw;
  height: 20vh;
  margin: 0 auto;
}
.container{
  position: relative;
  margin: 0 auto;
  width: fit-content;
  top: 15vh;
  display: flex;
}
.Charts1{
  position: relative;
}
.Charts2{
  position: relative;
  left: 5vw;
}
.Text{
  position: relative;
  width: 30vw;
  height: 10vh;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 25vh;
}
